<div class="bw-chat-message flexcol">

  {{#if abilityName}}
    <div class="chat-separator chat-message-med ability-name">
       {{rerollLabel}} {{abilityLabel}} {{abilityShade}}{{abilityExponent}}
    </div>
     <div class="chat-separator chat-message-sm difficulty">
      {{difficulty}} Test
    </div>
  {{/if}}
  {{#unless abilityName}}
    <div class="chat-separator chat-message-med difficulty">
      {{rerollLabel}} {{difficulty}} Test
    </div>
  {{/unless}}


  {{#if numPersona}}
    <div class="" style="margin-bottom: 4px;">{{ numPersona }} Persona Dice</div>
  {{/if}}

  {{#if isOpen }}
   <div class="flexrow chat-flex-center">
      Open-Ended
   </div>
  {{/if}}

  <div class="flexrow chat-separator">

    <div class="">
      <div>
         {{shadeLabel}}
      </div>
      <div class="chat-message-big">
        {{totalDice}}
      </div>

    </div>

    <div class="vs-divider">
        vs
    </div>

    <div class="">
      <div>
        Ob
      </div>
      <div class="chat-message-big">
        {{ob}}
      </div>
    </div>

  </div>

  {{!-- individual dice --}}
  <div class="flexrow chat-flex-center chat-separator">
    {{#each rollResults }}
    <div class="chat-die {{#if this.success}}success{{/if}}  {{#unless this.success}}failed{{/unless}}">
      {{this.result}}
    </div>
    {{/each}}
  </div>
  <div>
    {{#equalsOne successCount }}
      {{successCount}} success
    {{else}}
      {{successCount}} successes
    {{/equalsOne}}
  </div>


  {{#if passedTest}}
    <div class="chat-roll-result success">Success!</div>
  {{/if}}
  {{#unless passedTest}}
    <div class="chat-roll-result failed">Failed!</div>
  {{/unless}}


    <div class="flexrow">
     
      {{#if allowFate}}
        <div class="btn chat-btn fate-reroll" 
          data-json="{{json}}"
        >
          Reroll with Fate
        </div>
      {{/if}}
  

      {{#if allowDeeds}}
        <div class="btn chat-btn deeds-reroll"
          data-json="{{json}}"
        >
          Reroll with Deeds
        </div>
    
      {{/if}}
    </div>

    {{#if abilityName}}
      {{#if abilityCanProgress}}
      <div class="flexrow">
        <div class="btn chat-btn award-test"
            data-json="{{json}}"
          >
            Award {{difficulty}} {{abilityLabel}} Test
          </div>
      </div>
      {{/if}}
    {{/if}}


</div>