<div class="bw-chat-message flexcol">

  <div class="chat-separator chat-message-med difficulty">
    {{difficulty}} Test
  </div>

  <div class="flexrow chat-separator">

    <div class="">
      <div>
         {{shade}}
      </div>
      <div class="chat-message-big">
        {{totalDice}}
      </div>

    </div>

    <div class="vs-divider">
        vs
    </div>

    <div class="">
      <div>
        Ob
      </div>
      <div class="chat-message-big">
        {{ob}}
      </div>
    </div>

  </div>

  {{!-- individual dice --}}
  <div class="flexrow chat-flex-center chat-separator">
    {{#each rollResults }}
    <div class="chat-die {{#if this.success}}success{{/if}}  {{#unless this.success}}failed{{/unless}}">
      {{this.result}}
    </div>
    {{/each}}
  </div>
  <div>
    {{successCount}} successes
  </div>


  {{#if passedTest}}
    <div class="chat-roll-result success">Success!</div>
  {{/if}}
  {{#unless passedTest}}
    <div class="chat-roll-result failed">Failed!</div>
  {{/unless}}

  <div class="flexrow">
    <div class="btn chat-btn fate-reroll" 
      data-sixes="{{sixes}}"
      data-shade="{{shade}}"
    >
      Reroll with Fate
    </div>
    <div class="btn chat-btn">
      Reroll with Deeds
    </div>
  </div>

</div>