<div id="bw-dice-pool" class="flexcol {{ternary flushToBottom 'flush-bottom' ''}} " >

  <div class="flexrow">
    <div class="flexrow">
      <select id="ability-select" class="ability-select" >
        <option value="" {{isSelected name ../abilityName}}>--Select Ability--</option>

        {{#each recentAbilities}}
          <option value="{{name}}" data-exponent="{{exponent}}" data-shade="{{shade}}" {{isSelected name ../abilityName}}>{{name}} - {{shade}}{{exponent}}</option>
        {{/each}}

        {{#if skills}}
          <optgroup label="Skills">
          {{#each skills}}
            <option value="{{name}}" data-exponent="{{exponent}}" data-shade="{{shade}}" {{isSelected name ../abilityName}}>{{name}} - {{shade}}{{exponent}}</option>
          {{/each}}
          </optgroup>
        {{/if}}

        
        {{#if stats}}
          <optgroup label="Stats">
          {{#each stats}}
            <option value="{{name}}" data-exponent="{{exponent}}" data-shade="{{shade}}" {{isSelected name ../abilityName}}>{{name}} - {{shade}}{{exponent}}</option>
          {{/each}}
          </optgroup>
        {{/if}}

        {{#if attributes}}
          <optgroup label="Attributes">
          {{#each attributes}}
            <option value="{{name}}" data-exponent="{{exponent}}" data-shade="{{shade}}" {{isSelected name ../abilityName}}>{{name}} - {{shade}}{{exponent}}</option>
          {{/each}}
          </optgroup>
        {{/if}}

        {{#if armor}}
          <optgroup label="Armor">
          {{#each armor}}
            <option value="{{name}}" data-exponent="{{exponent}}" data-shade="{{shade}}" {{isSelected name ../abilityName}}>{{name}} - {{shade}}{{exponent}}</option>
          {{/each}}
          </optgroup>
        {{/if}}

       
      </select>

    </div>

    <div class="pool flexrow ">
    
      {{!-- Dice control buttons --}}
      <div class="pool-controls flexcol">
        <div class="btn btn-dice dice-increase-button" >
          <i class="fas fa-plus"></i>

        </div>

        <div class="btn btn-dice dice-decrease-button">
          <i class="fas fa-minus"></i>
        </div>

        <div class="btn btn-persona {{#if personaMode}}on{{/if}}">
          <span style="font-size: 16px">P</span>
        </div>
        

      </div>

      {{!-- Dice --}}
      <div class="dice-area">
          <div class="btn btn-shade">
          <span>{{shade}}</span>
        </div>
        {{#if renderDice}}
        <div class="dice-display">
          {{#times numDice}}
          <i class="die fas fa-dice-d6"></i>
          {{/times}}
          {{#times numPersona}}
          <i class="die fas fa-dice-d6" style="color:rgba(255, 0,0,.75)"></i>
          {{/times}}
        </div>          
        {{/if}}
        {{#unless renderDice}}
        <div class="dice-numeric">
          <span>{{numDice}}</span> <i class="die fas fa-dice-d6"></i>
        </div>
        <div>
        {{#times numPersona}}
          <i class="die fas fa-dice-d6" style="color:rgba(255, 0,0,.75)"></i>
        {{/times}}
        </div>
        {{/unless}}

      </div>
     
    </div>

    {{!-- vs divider --}}
    <div class="vs-divider">
      vs
    </div>

    {{!-- ob area--}}
    <div class="ob-area">

      <div class="flexrow align-center">
        <div>
          <div class="ob-label">Ob</div>
          <div class="ob-value">{{ob}}</div>
        </div>

        {{#if isGm}}
          <div class="ob-controls flexcol">
            <div class="btn btn-ob btn-ob-increase" title="Increase Obstacle">
              <i class="fas fa-plus"></i>
            </div>

            <div class="btn btn-ob btn-ob-decrease" title="Decrase Obstacle">
              <i class="fas fa-minus"></i>
            </div>
          </div>
        {{/if}}

      </div>

    </div>

  </div>

  {{!-- roll controls --}}
  <div class="roll-controls flexrow gap ">

      <div class="btn btn-roll roll">
        Roll
      </div>

      <div class="btn btn-roll roll-open">
        Roll Open-Ended
      </div>

      <div class="btn btn-roll roll-dof">
        Die of Fate
      </div>

  </div>

</div>